<h1 class="p-3 mb-2 bg-success text-white">Encuestas abiertas</h1>

<table class="table" class="scrollbar .scrollbar-default">
    <thead>
        <tr>
            <th scope="col">N°</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha apertura</th>
            <th>Fecha cierre</th>
            <th>Preguntas</th>
                            
            <th> </th>
        </tr>
    </thead>
    <tbody>
                
        {% for pollo in pollsOpen %}
        <tr>
            <form action="/editar_encuesta" method="POST">
                <th name="code" scope="row">{{pollo.0}}</th>
                <td name="title" scope="col">{{pollo.1}}</td>
                <td name="description" scope="col">{{pollo.2}}</td>
                <td scope="col">{{pollo.3}}</td>
                <td scope="col">{{pollo.4}}</td>
                <td scope="col">1</td>
                            
                <td scope="col">
                <!--   <button type="button" class="btn btn-secondary ">Visualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <a href="/editar_encuesta/{{pollo.1}}"></a>
                <a href="/eliminar_encuesta/{{pollo.1}}"></a>
                -->
                </td>
                </form>
        </tr>
        {% endfor %}
                
    </tbody>
</table>